/* section-news */

.section-news{
  width: 100%;
  height: 200px;
}

.section-news h4{
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #399CDF;
}

.section-news .news-form form{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.section-news .news-form form .news-name{
  width: 320px;
  margin-right: 40px;
}

.section-news .news-form form .news-name p{
  color: rgb(204, 204, 204);
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-bottom: 6px;;
}

.section-news .news-form form .news-name input{
  width: 100%;
  height: 50px;
  border: none;
  padding: 20px;
  border-radius: 40px;
  outline: none;
  background-color:#ccc;
}


.section-news .news-form form .news-email{
  width: 600px;
  margin-right: 40px;
}

.section-news .news-form form .news-email p{
  color: rgb(204, 204, 204);
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-bottom: 6px;;
}

.section-news .news-form form .news-email input{
  width: 100%;
  height: 50px;
  border: none;
  padding: 20px;
  border-radius: 40px;
  outline: none;
  background-color:#ccc;
}

.section-news .news-form form button{
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: none;
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 25px;
}

.section-news .news-form form button img{
  width: 25px;
  height: 25px;
}

@media screen and (max-width: 1155px) {
  .section-news{
    height: 400px;
  }

  .section-news .news-form form{
    flex-direction: column;
    margin: 0 1rem;
  }

  .section-news .news-form form .news-name{
    width: 600px;
    margin-bottom: 2rem;
    margin-right: 0;
  }

  .section-news .news-form form .news-email{
    margin-right: 0;
  }

  .section-news .news-form form button{
    width: 200px;
    height: 50px;
    padding: 10px;
  }
}

@media screen and (max-width: 690px) {
  .section-news .news-form form .news-name{
    width: 420px;
    margin-bottom: 2rem;
  }

  .section-news .news-form form .news-email{
    width: 420px;
  }

  .section-news h4{
    margin: 0 1rem;
  }

  .section-news .news-form form button{
    width: 200px;
    height: 50px;
    padding: 10px;
  }
}

@media screen and (max-width: 440px) {
  .section-news .news-form form .news-name{
    width: 280px;
  }

  .section-news .news-form form .news-email{
    width: 280px;
  }

  .section-news h4{
    margin-bottom: 2rem;
  }

  .section-news .news-form form button{
    width: 200px;
    height: 50px;
    padding: 10px;
  }
}